<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= song.songTitle %></title> <!--dynamic title based on song name-->
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Song Info</h1>
    <p>Artist: <%= song.artist %></p>
    <p>Song title: <%= song.songTitle %></p>
    <p>Genre: <%= song.gerne %></p>
    <p>BPM: <%= song.BPM %></p> <!-- display song name-->
    <!--add more details about the song here-->
    <br>
    <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= song.songTitle %></button>
    </form>
    <br>
    <!-- add edit page link here-->
     <a href="/songs/<%= song._id %>/edit">Edit Song: <%= song.songTitle %></a>
     <br>
     <br>
     <a href="/songs">Back to Songs Libary</a>
</body>
</html>